/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#matchrow {
	background-color: black;
	width: auto;
	margin: 1%;
	margin-bottom: 3%;
	padding: 1%;
	border-color: green;
	border-style: solid;
	box-shadow: 5px 5px 5px #888888;
	text-align: center;
}

#matchname {
	color: crimson;
	font-size: 150%;
}

#matchdetails {
	color: white;
}

.matchicon {
	height: 15%;
	width: 15%;
}
.userrow {
  background-color: lightgrey;
  border: 5px solid skyblue;
  padding: 1%;
  padding-left: 10%;
  opacity: 0.7;
}

#addspacing {
	margin-left: 3%;
}

#betrow {
	background-color: silver;
  border: 5px solid mediumorchid;
  padding: 1%;
  padding-left: 10%;
  margin: 1%;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leadddata {
	color: black;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 
.row {
 	margin-left: 0px;
 	margin-right: 0px;
}

body {
 	background-color: gainsboro;
 	background: url('bg.jpg') no-repeat center center fixed;
	background-size: cover;
 	color: white;
}

.epllogo {
	width: auto;
	height: 64px;
}

.flashmsg {
	background-color: #7B68EE;
	border: 2px solid #000080;
  padding: 1%;
  margin-top: 2%;
  color: white;
  text-align: center;
}

.col-xs-6 {
	padding-bottom: 5%;
}

.coins {
	height: 45px;
	width: 120px;
	border: 1px solid black;
	background: white;
	padding: 0.5%;
	border-radius: 5px;
	color: black;
}

#navbar {
	background-color: green;
  width: auto;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 10px 16px 0px rgba(50, 50, 50, 0.75);
}

#heading {
	color: white;	
	font-family: "Adobe Caslon Pro";
	font-size: 40px;
	padding-top: 0.5%;
	width: auto;
	text-align: center;
}

.icon {
	height: 64px;
	width: 64px;
}

#logger {
	text-align: center;
	padding-top: 1%;
}

.teamicon {
	height: 5%;
	width: 4.5%;
}
