<% rank = 1 %>
<% @users.each do |user| %>
<div class="userrow">
	<div class="row">
		<strong>
		<span class="col-xs-4"><%= rank %></span>
		<span class="col-xs-4"><%= user.name %></span>
		<span class="col-xs-4"><%= user.coins %></span>
		</strong>
		<% rank=rank + 1 %>
	</div>
</div>
<% end %>
