<center>
	<div class="userrow">
		<div class="row" style="color: darkgreen;">
			<strong>
				<span class="col-md-3">Rank</span>
				<span class="col-md-3">Punter</span>
				<span class="col-md-3">Coins</span>
				<span class="col-md-3">Currently Invested</span>
			</strong>
		</div>
	</div>
	<% rank = 1 %>
	<% @users.each do |user| %>
		<div class="userrow">
			<div class="row">
				<% amount = 0 %>
				<strong>
				<span class="col-md-3 leadddata"><%= rank %></span>
				<span class="col-md-3 leadddata"><%= user.name %></span>
				<span class="col-md-3 leadddata"><%= user.coins %></span>
				<span class="col-md-3 leadddata">
					<% user.bets.each do |bet| %>
						<% if bet.winner == "TBD" %>
							<% amount = amount + bet.amount %>
						<% end %>
					<% end %>
					<%= amount %>
					</span>
				</strong>
				<% rank = rank + 1 %>
			</div>
		</div>
	<% end %>
</center>