<div class="userrow">
	<div class="row" style="color: #D2691E;">
		<strong>
			<span class="col-xs-4">Rank</span>
			<span class="col-xs-4">Punter</span>
			<span class="col-xs-4">Coins</span>
		</strong>
	</div>
</div>
<% rank = 1 %>
<% @users.each do |user| %>
<div class="userrow">
	<div class="row">
		<strong>
		<span class="col-xs-4 leadddata"><%= rank %></span>
		<span class="col-xs-4 leadddata"><%= user.name %></span>
		<span class="col-xs-4 leadddata"><%= user.coins %></span>
		</strong>
		<% rank=rank + 1 %>
	</div>
</div>
<% end %>
