/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#matchrow {
	background-color: black;
	width: auto;
	margin: 1%;
	margin-bottom: 3%;
	padding: 1%;
	border-color: green;
	border-style: solid;
	box-shadow: 5px 5px 5px #888888;
	text-align: center;
}

.showicon {
	height: 128px;
	width: 128px;
}

#matchname {
	color: crimson;
	font-size: 150%;
}

#matchdetails {
	color: white;
}

.matchicon {
	height: 15%;
	width: 15%;
}