.userrow {
  background-color: lightgrey;
  border: 5px solid skyblue;
  padding: 1%;
  opacity: 0.7;
}

#addspacing {
	margin-left: 3%;
}

#betrow {
	background-color: silver;
  border: 5px solid mediumorchid;
  padding: 1%;
  margin: 1%;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leadddata {
	color: black;
}
